.divTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.divTitle h1{
    letter-spacing: 0.05em;
    font-weight: 700;
    font-size: 48px;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 750px){
    .divTitle h1{
        font-size: 30px;
        letter-spacing: 0.02em;
    }
}

@media screen and (max-width: 500px){
    .divTitle h1{
        font-size: 25px;
        letter-spacing: 0px;
    }
}
