.cardContainer {
	box-shadow: 0px 0px 30px rgb(156, 154, 154);
	width: 200px;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	overflow: hidden;
	margin: 0 auto;
}

/*Imagen*/
.cardImage {
	width: 100%;
	height: 52%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cardImage img {
	width: 100%;
	object-fit: cover;
}

/*Texto*/
.cardText {
	height: 200px;
	width: 100%;
	text-align: left;
	padding: 7px;
	padding-top: 12px;
}

.cardTitle {
	padding-left: 8px;
	width: 100%;
	text-align: left;
}

.cardDescription {
	width: 100%;
	padding-left: 8px;
	overflow: overlay;
	font-size: 14px;
	text-align: left;
}

/*Redes sociales*/
.cardMedia {
	padding-bottom: 10px;
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.cardDescription::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

.cardDescription::-webkit-scrollbar-track {
	border-radius: 100vh;
	background: #f7f4ed;
}

.cardDescription::-webkit-scrollbar-thumb {
	border-radius: 100px;
	background-color: rgb(107, 168, 140);
	border: 5px solid rgb(191, 194, 195);
	height: 50px;
}

.cardDescription::-webkit-scrollbar-thumb:hover {
	background: #c0a0b9;
}
