.staffContainer{
    width: 100vw;
    height: 100vw;/* 
    display: flex;
    justify-content: center;
    align-items: center;
 */}


.ulStaff{
    padding: 20px;
}

#titulo{
    height: 400px;
    width: 100vw;
    background-color: aqua;
}