.container {
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  max-width: calc(90vh * 3);
  color: white;
}

.displayFrame{
  touch-action: none;
  width: 100%;
  height: calc(95vh * 0.5);
  max-height: 90vh;
  white-space: nowrap;
}

.displayFrame::-webkit-scrollbar{
  display: none;
}

.leftArrow{
  position: absolute;
  left: 1%;
  padding-left: 2px;
  padding-right: 2px;
  color: white;
  user-select: none;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0 25% 25% 0;
  left: 0;
}

.rightArrow{
  position: absolute;
  right: 1%;
  padding-left: 2px;
  padding-right: 2px;
  color: white;
  user-select: none;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25% 0 0 25%;
  right: 0;
}

.rightArrow:hover,
.leftArrow:hover
 {
  color: #bbccdd;
}

.rightArrow:active,
.leftArrow:active {
  color: #206ebd;
}

.item{
  touch-action: none;
  height: 100%;
  width: 100%;
  display: inline-block;
  transition: all 500ms ease-out;
}

.item img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  background-color: none;
}
.text{
  white-space: normal;
  position: absolute;
  bottom: 0px;
  background: rgba(0 , 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30%;
  padding: 5px;
}

.title{
  font-size: 20px;
  padding: 5px 0;
}

.description{
  overflow: scroll;
  font-size: 16px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.description::-webkit-scrollbar{
  display: none;
}

.description,
.title
{

  width: 100%;
  height: auto;
}

@media screen and (max-width: 700px) {
  .description {
      
      font-size: 14px;
  }
}