.container {
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  max-width: calc(90vh * 1.78);
  color: white;
}

.displayFrame{
  touch-action: none;
  width: 100%;
  height: calc(95vh * 0.5);
  max-height: 90vh;
  white-space: nowrap;
}

.displayFrame::-webkit-scrollbar{
  display: none;
}

.leftArrow{
  position: absolute;
  left: 1%;
  padding-left: 2px;
  padding-right: 2px;
  color: white;
  user-select: none;
  z-index: 2;
}

.rightArrow{
  position: absolute;
  right: 1%;
  padding-left: 2px;
  padding-right: 2px;
  color: white;
  user-select: none;
  z-index: 2;
}

.rightArrow:hover,
.leftArrow:hover
 {
  color: #bbccdd;
}

.rightArrow:active,
.leftArrow:active {
  color: #206ebd;
}

.item{
  touch-action: none;
  height: 100%;
  width: 100%;
  display: inline-block;
  transition: all 500ms ease-out;
}

.item img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  background-color: none;
}
.text{
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 14px;
  text-align: justify;
  width: 100%;
}